html{
    background: linear-gradient(to right top, #e9f6fd 100%,#d3eefb 100%);
}

button {
    background-color: #0277BD;
    color: #e9f6fd;
    padding: 10px 25px;
    border-radius: 50px;
    border: 0;
    cursor: pointer;
    font-family: 'Raleway', sans-serif;
    font-size: 60px;
    align-self: center;


}

h1{
    color: #0277BD;
    font-family: 'Raleway', sans-serif;
    font-size: 80px;
}

.main_header{
    position: absolute;
    width: 100%;
    display: block;
    text-align: center;
    bottom: 75%;

}
.main_button{
    position: absolute;
    width: 100%;
    display: block;
    text-align: center;
    bottom: 50%;
}

.contacts{
    position: absolute;
    width: 100%;
    display: block;
    bottom: 20px;
    text-align: center;
    font-family: 'Raleway', sans-serif;
    font-size: 20px;

}

.start_form{
    position: absolute;
    width: 100%;
    display: block;
    text-align: center;
    bottom: 60%;
    font-family: 'Raleway', sans-serif;
    font-size: 30px;


}

input[type=text] {
    width: 50%;
    padding: 12px 20px;
    margin: 8px 0;
    box-sizing: border-box;
}

a{
    color: blue;
    text-decoration: none;
}

#start{
    background-color: #0277BD;
    color: #e9f6fd;
    padding: 10px 25px;
    border-radius: 50px;
    border: 0;
    cursor: pointer;
    font-family: 'Raleway', sans-serif;
    font-size: 30px;
    align-self: center;
    margin-top: 2%;

}